{{> header}}
<div class="page chat">
  <div class="body">
      <h2>Messages</h2>

      <div id="messages">

      </div>
      
      <div id="replydiv">
          <form style="display:none;" id="replyForm">
              <textarea id="message"></textarea>
              <button id="replyButton">Send</button>
          </form>
      </div>
  </div>
</div>
{{> footer}}