{{> header }}
<div class="page delete">
  <div class="body">
      <h2>Do you want to delete a kot?</h2>
        <div class="ifStudent">
           <div id="tindergame">
            <p>dont see this</p>
            </div>
        </div>
        
        <div class="ifOwner">
            <div class="yourkoten"></div>
        </div>
    </div>
</div>
{{> footer }}