{{> header }}
<div class="page edit">
    <div class="body">
    <h1>Do you want to edit a kot?</h1>
        <div class="ifStudent">
           <div id="tindergame">
            <p>dont see this</p>
            </div>
        </div>
        
        <div class="ifOwner">
            <div class="yourkoten"></div>
        </div>
    </div>
</div>
{{> footer }}