{{> header }}
<div class="page favorites">
    <div class="body">
        <div id="messageBox">
        <form>
          <textarea type="text" placeholder="your message"></textarea><br>
          <button type="submit" id="sendMessage">Send</button>
        </form>
      </div>
        <h1>My favorites</h1>
        <div id="favorites" class="clearfix">
            
        </div>
    </div>
</div>
{{> footer }}