{{> header}}
<div id="loginpage">
    <div id="body">
        <!-- Form to login -->
        <form id="form-login">
            <h1>KOT@GHENT</h1> 
            <p>Please login</p>
            <input type="email" id="login-email" placeholder="Email adress" required><br>
            <input type="password" id="login-password" placeholder="Password" required><br>
   
            <button id="login-button">Login</button><br>
            <button id="googlelogin-button">Login with Google</button>

            <p>New here?</p>
            <button id="registershow-button">Register</button>

        </form>
 
        <!-- form to register and create a new account -->
        <form id="form-register">
            <h1>KOT@GHENT</h1> 
            <p>Welcome! Please register</p>
            <input type="text" id="register-email" placeholder="Email adress" required><br>
            <input type="password" id="register-password" placeholder="Password" required><br>
            <input type="number" id="register-phone" placeholder="Phone number" required><br>
            <select id="type" required>
                <option value="default" id="default">Select your type</option>
                <option value="student" id="student">Student</option>
                <option value="owner" id="owner">Owner</option><br>
            </select>

            <!-- this only appears when the option 'student' is selected -->
            <div id="ifStudent">
                <input type="text" id="adressCampus" placeholder="Adress of your campus" required><br>
            </div>


            <button id="register-button">Register</button>
        </form>
    </div>
</div>
{{> footer}}