<section class="header">

    <!--h1 class="logo">Kot@Ghent</h1>-->
    <div class='container'>
    <!-- menu for when the user is logged in as a student -->
    <div class ="navigation-bar" id="ifStudent">
            <a href="/#/">List</a>
            <a href="/#/tinder">Tinder</a>
            <a href="/#/mapbox">Map</a>
            <a href="/#/favorites">Favorites</a>
            <a href="/#/chat">Chat</a>
            <a href="/#/login" id="logout">Logout</a>
    </div>
    </div>

    <!-- menu for when the user is logged in as an owner of a kot -->
    <div class ="navigation-bar" id="ifOwner">
            <a href="/#/">My koten</a>
            <a href="/#/add">Create</a>
            <a href="/#/chat">Chat</a>
            <a href="/#/login" id="logout">Logout</a>
    </div>
   
</section>